{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" >

    <!-- Box Icons https://boxicons.com/ -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Thanks</title>
</head>

    <header class="l-header">
        <nav class="nav bd-grid">
        </nav>
    </header>
    <main class="l-main">
        <section class="home" id="home">
            <br>
            <div class="home__container bd-grid"> 
                <h2 class="thank__title"> Thank you!<br><span> I've recieved your Email and will respond you shortly...</span>
                    <br><a href="/" class="thank__title"><span> Back to the Home Page</span><i class='bx bx-right-arrow-alt'></i></a>
                </h2>   
            </div>
        </section>
    </main>
